body {
  background: black;
}

.App {
  border: 1px solid cyan;
  background: red;
  padding: 10px;
  border-radius: 5px;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 10px;
  height: 30px;
}

.display {
  color: white;
  background: brown;
  width: 90%;
  margin: 10px auto;
  border-radius: 20px;
  padding: 10px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  justify-content: space-evenly;
}

.specialButtons {
  width: 90%;
}

.specialBtn {
  background: blue;
  width: 32%;
}

.numberButtons {
  width: 90%;
  flex-wrap: wrap;
}

.numberBtn {
  background: rgb(24, 23, 116);
  width: 32%;
}


.rightColumn {
  width: 25%;
}

.operatorBtn {
  background: rgb(4, 80, 80);
  width: 100%;
}

.operatorButtons {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 50%;
  padding: 10px;
  margin: 5px auto;
  box-shadow: 1px 2px 2px black;
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
}

.btn:active {
  box-shadow: none;
}

.zero {
  width: 64%;
}